.headerFileName {
  font-size: var(--jp-ui-font-size1);
  font-weight: bold;
  text-align: center;
}

.headerFileNameNone {
  font-size: var(--jp-ui-font-size2);
  color: var(--jp-ui-font-color2);
  font-weight: bold;
  text-align: center;
}

.headerFileType {
  font-size: var(--jp-ui-font-size1);
  font-weight: bold;
  text-align: center;
}

.headerItem {
  display: flex;
  flex-direction: column;
}

.headerArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  border: 0px;
}

.bodyArea {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
  max-height: 81vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bodyItem {
  display: flex;
  flex-direction: row;
}

.bodyCol {
  display: flex;
  flex-direction: column;
}

.bodyKey {
  font-size: var(--jp-ui-font-size1);
  font-weight: bold;
}

.bodyValue {
  font-size: var(--jp-ui-font-size1);
}