.Metadata {
  background: white;
  height: 100%;
}

.headerFileName {
  font-size: var(--jp-ui-font-size1);
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.headerFileNameNone {
  font-size: var(--jp-ui-font-size2);
  color: var(--jp-ui-font-color2);
  font-weight: bold;
  text-align: center;
}

.headerFileType {
  font-size: var(--jp-ui-font-size1);
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}

.headerItem {
  display: flex;
  flex-direction: column;
}

.headerArea {
  border-bottom: 1px solid;
  border-color: #e0e0e0;
}

.bodyArea {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
  font-size: 11px;
  max-height: 87vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bodyItem {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.bodyCol {
  display: flex;
  flex-direction: column;
}

.bodyKey {
  font-weight: bold;
  white-space: pre;
  padding-right: 8px;
}

.bodyValue {
  white-space: pre-line;
  word-break: break-word;
}
